.container {
  display: flex;
  height: 100vh;

  .content-wrapper {
    width: 50%;
    background: #f9fcf8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo-wrapper {
      position: absolute;
      top: 1.5rem;
      left: 2rem;
      color: #324f53;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .image-wrapper {
    width: 50%;

    .image {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 426px) {
  .container {
    .content-wrapper {
      width: 100%;

      .logo-wrapper {
        display: none;
      }
    }
    .image-wrapper {
      display: none;
    }
  }
}
